/*js themes*/
.light .container{
    background-color: yellow;
    font-size: 20px;
}

.light .about-photo-button {
background-color: red}

.light a  {
color: red;
}

.light h1 {
    color: red;
}
.light h2 {
    color: red;
}

#button {
    position: fixed;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: pink;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
    background-color: #f5f6f7;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.menu__items {
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;

}
.menu__links {

    text-decoration: none;
    color: #16a085;
    font-weight: 900;
}

.header__img {
    width: 100%;
}
.about-photo-paragraph {
    padding: 25px 0;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #16a085
}

.about-photo-info {
    padding: 0 40px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 600;
    color: black;
}



.about-photo-button{
    background-color: #16a085;
    color: white;
    font-size: 8pt;
    width: 192px;
    height: 51px;
  margin: 50px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.author{
    margin: 50px 0;
    color: #373737;
    font-size: 16px;
}
.author-info {
    background-color: white ;
    font-size: 20px;
    font-weight: 900;
    color: #16a085;
}